div
{
    margin: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

td{
    text-align: center;
}

img{
    height: 60px;
    width: auto;
}

mat-card
{
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    background-color: white;
}

a
{
    color: darkorange;
    background-color: white;
    border-color: white;
    border-width: 2px;
    margin-left: auto;
}
.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-one
{
	background-color: darkorange;
	font-family: "Roboto", sans-serif;

}
a:hover
{
    border-color: black;
}

.right 
{
    text-align: right /* only needed for the table version */
}
  
.flex 
{
    display: flex;
    justify-content: space-between;
}