<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>ABOUT US</h2>
					<div class="about-content">
						The physical condition is the state of health and well-being and, more specifically, the ability to perform aspects of sport, occupations and daily activities. Physical fitness is generally achieved by adequate nutrition, moderate and vigorous physical exercise and sufficient rest.
Prior to the industrial revolution, fitness was defined as the ability to perform the day's activities without excessive fatigue. However, through automation and lifestyle changes, physical fitness is now considered a measure of the body's ability to function effectively including work and leisure activities, to be healthy, to withstand hypokinetic diseases and to perform. in the face of emergencies.

					</div>
			</div>
					<div class="col-md-6">
						<div class="im">
						<img src="./assets/menu-icons/fitness.jpg" width="400px">
						</div>
					</div> 
		</div>
	</div>
</section>
