<section id="slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="./assets/carousel/poza1.jpg" width="5000">
        </div>
        <div class="hero">
            <h1>Are you ready?</h1>
            <div class="button">
                <a routerLink="/login" class="btn btn-one" routerLinkActive="active"> LOG IN </a>
                <a href="" class="btn btn-two"> SIGN UP </a>
            </div>
        </div>
    </div>
</section>
    