<section id="contact">
    <div class="container">
       <h1>Contact</h1>
       
           <div class="col-md-6 contact-info">
               <div class="follow"><b>Adress:</b><i class="fa fa-map-marker"></i>Piaţa Victoriei Nr. 2, 300006 Timişoara, jud. Timiş, România</div>
           
               <div class="follow"><b>Phone:</b><i class="fa fa-phone"></i>0365 424 490</div>
               
               <div class="follow"><b>Email:</b><i class="fa fa-envelope-o"></i>support@fitness.com</div>
           
               <div class="follow"><label><b>Social Media:</b></label>
                   <a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
                   <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                   <a href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>
                   <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
               </div>	
           </div>
       
   </div>
</section>
