<div>
    <mat-card class="mat-elevation-z4">
        <table width="100%">
            <tr>
                <td width="20%" style="border-right: 2px solid gray;">
                    <img src="data:image/jpg;base64,{{image}}">
                </td>

                <td width="30%" style="border-right: 2px solid gray;">{{name}}</td>

                <td width="20%" style="border-right: 2px solid gray;">Price: {{price}} $</td>

                <td width="20%" style="border-right: 2px solid gray;">Quantity: <input type="text" value="{{quantity}}" size="3"></td>

                <td width="10%"><a class="btn btn-one" (click)="removeFromCart()" mat-stroked-button>X</a></td>
            </tr>
        </table>
    </mat-card>
</div>
