<mat-sidenav-container class="app-content" >
    <mat-toolbar color="grey" class="mat-elevation-z4">
        <img src="./assets/menu-icons/main-icon.png" height="35px">
        <Span class="btn-w">&nbsp;Fit Ness</Span>
    
        <div class="spacer"></div> 
        <a class="btn" href="" mat-button>Home</a>
        <a class="btn" href="#services" mat-button>Subscriptions</a>
        <a class="btn" href="#trainer" mat-button>Trainers</a>
        <a class="btn" href="#product" mat-button>Products</a>
        <a class="btn" href="#contact" mat-button>Contact</a>
    
        <div class="spacer"></div> 
        <a mat-stroked-button class="btn1" routerLink="/shoppingcart"  routerLinkActive="active">Shopping Cart&nbsp;&nbsp;&nbsp;<mat-icon>shopping_cart</mat-icon> </a>
     
    
    </mat-toolbar>
</mat-sidenav-container>  







