<mat-sidenav-container class="app-content">
    <mat-toolbar color="gray" class="mat-elevation-z4">
        <mat-icon>fitness_center</mat-icon>
        <Span>&nbsp;GYM</Span>
    
        <div class="spacer"></div> 
        <a mat-button>Home</a>
        <a mat-button>Subscriptions</a>
        <a mat-button>Trainers</a>
        <a mat-button>Products</a>
        <a mat-button>Contact</a>
    
        <div class="spacer"></div> 
        <a mat-stroked-button>Shopping Cart&nbsp;&nbsp;&nbsp;<mat-icon>shopping_cart</mat-icon></a>
    
    </mat-toolbar>
</mat-sidenav-container>  




