<div >
    <mat-card class="example-card mat-elevation-z4">
        <img mat-card-image src="./assets/trainers/{{image}}">
        <mat-card-content>
            <h2>{{name}}</h2>
            <p>{{description}}</p>
        </mat-card-content>
        <mat-card-actions>
           
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
             
        </mat-card-actions>
      </mat-card>
</div>




