<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<section id="services">
	<div class="container">
		<h1>Subscriptions</h1>
		<div class="row services">
			<div class="col-md-3 text-center">
				<div class="icon">
					<i class="fa fa-check"></i>
				</div>
				<h2>Aerobic</h2>
				<p>Starting from classical gymnastics and adding the contribution of modern aerobics, Basic Gym has become a complex class of physical training, sufficiently demanding both from the cardio point of view and on the toning side.</p>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon">
					<i class="fa fa-check"></i>
				</div>
				<h2>Fitness</h2>
				<p>At the Fitness Club you will find a wide range of equipment, from dumbbells and presses to treadmills and ellipticals, multifunctional appliances and various accessories, so you can enjoy a complete workout every day.</p>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon">
					<i class="fa fa-check"></i>
				</div>
				<h2>Cycling</h2>
				<p>Cycling is practiced in a group class, and the instructor who runs the class, sets the pace and gives directions. The purpose of the Cycling class is to work the muscle groups of the body in sync with the rhythm of the music.</p>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon">
					<i class="fa fa-check"></i>
				</div>
				<h2>Yoga</h2>
				<p>Yoga is the complex class of Aerobics (fitness group) that combines elements of gymnastics, dance and yoga. Yoga is used to describe a more accessible style, based on the association between fitness, stretching and flexibility.</p>
			</div>
		</div>
	</div>
</section>

