<div >
    <mat-card class="example-card mat-elevation-z4">
        <img mat-card-image src="./assets/trainers/{{image}}">
        <mat-card-content>
            <h2>{{name}}</h2>
            <p>{{description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <a href="http://facebook.com" mat-stroked-button>facebook</a>
            <a href="http://twitter.com" mat-stroked-button>twitter</a>
            <a href="https://www.linkedin.com" mat-stroked-button>linkedin</a>
        </mat-card-actions>
      </mat-card>
</div>




